<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tarena.ht.mapper.BuyFlightMapper">

	<select id="findAllFlight" resultMap="flightRM">
		select * from flight_p
	</select>

	<resultMap type="Flight" id="flightRM" autoMapping="true">
		<id column="id" property="id"/>	
	</resultMap>
	
	<select id="findFlights" resultMap="flightRM">
		select * from flight_p where f_location=#{fl} and f_departure=#{fd}
	</select>
	
	<select id="findFlightsOneF_C" resultMap="flightRM">
		select * from flight_p where f_location=#{fl} and f_departure=#{fd} and f_company=#{fc}
	</select>
	
	<select id="findFlightsT" resultMap="flightRM">
		SELECT * FROM flight_p WHERE DATE_FORMAT(f_starttime,'%yyyy-%MM-%dd')= DATE_FORMAT(#{fs},'%yyyy-%MM-%dd')
	
	</select>
</mapper>
 