<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tarena.ht.mapper.SellMapper">
	
	<select id="findAll" resultMap="statementList">
		
		select * from 
		(select * from
		(select p.p_id pid,p_id,p.p_name,p.p_sex,p_type,p_identily,p.p_phone,p.p_f_id,p.p_order_id from passenger p)p
			left join
			flight_p  f
			on p.p_f_id=f.f_id)pf
		left join 
		order_p o
		on pf.p_order_id=o.o_id
		<where>
		
			<if test="location !=null and location!='' ">pf.f_location=#{location}</if>
			
			<if test="departure !=null and departure!='' ">and pf.f_departure=#{departure}</if>
			
			<if test="passengerName !=null and passengerName!='' ">and pf.p_name=#{passengerName}</if>
			
			<if test="PNR !=null and PNR!='' ">and pf.p_id=#{PNR}</if>
			
			<if test="Airlines !=null and Airlines!='' ">and pf.f_company=#{Airlines}</if>
			
			<if test="ticketState !=null and ticketState!='' ">and o.o_state=#{ticketState}</if>
			
			<if test="ticketTime1 !=null and ticketTime1!='' ">and DATE_FORMAT(f_starttime,'%yyyy-%MM-%dd')  &gt;=  DATE_FORMAT(#{ticketTime1},'%yyyy-%MM-%dd')  </if>
			
			<if test="ticketTime2 !=null and ticketTime2!='' ">and  DATE_FORMAT(f_starttime,'%yyyy-%MM-%dd') &lt;=  DATE_FORMAT(#{ticketTime2},'%yyyy-%MM-%dd')   </if> 
		
			<if test="ticketTime1 !=null and ticketTime1!='' ">and DATE_FORMAT(o_paytime,'%yyyy-%MM-%dd')  &gt;=  DATE_FORMAT(#{payTime1},'%yyyy-%MM-%dd')  </if>
			
			<if test="ticketTime2 !=null and ticketTime2!='' ">and  DATE_FORMAT(o_paytime,'%yyyy-%MM-%dd') &lt;=  DATE_FORMAT(#{payTime2},'%yyyy-%MM-%dd')   </if> 
		
		
		
		</where>
		
		
		
	</select>

	<resultMap type="Statement" id="statementList" >
		<id column="id" property="id"/>
		
		<association property="order" javaType="Order" autoMapping="true">
			<id column="o_id" property="oId"/>
		</association>
		<association property="passenger" javaType="Passenger" autoMapping="true">
			<id column="p_id" property="pId"/>
		</association>
		<association property="flight" javaType="Flight" autoMapping="true">
			<id column="id"  property="id" />
		</association>
	</resultMap>

	<select id="findByRules" resultMap="statementList" >
		
		select * from 
		(select * from
		(select p.p_id pid,p_id,p.p_name,p.p_sex,p_type,p_identily,p.p_phone,p.p_f_id,p.p_order_id from passenger p)p
			left join
			flight_p  f
			on p.p_f_id=f.f_id)pf
		left join 
		order_p o
		on pf.p_order_id=o.o_id
		<where>
		
			<if test="location !=null and location!='' ">pf.f_location=#{location}</if>
			
			<if test="departure !=null and departure!='' ">and pf.f_departure=#{departure}</if>
			
			<if test="passengerName !=null and passengerName!='' ">and pf.p_name=#{passengerName}</if>
			
			<if test="PNR !=null and PNR!='' ">and pf.p_id=#{PNR}</if>
			
			<if test="Airlines !=null and Airlines!='' ">and pf.f_company=#{Airlines}</if>
			
			<if test="ticketState !=null and ticketState!='' ">and o.o_state=#{ticketState}</if>
			
			<if test="ticketTime1 !=null and ticketTime1!='' ">and DATE_FORMAT(f_starttime,'%yyyy-%MM-%dd')  &gt;=  DATE_FORMAT(#{ticketTime1},'%yyyy-%MM-%dd')  </if>
			
			<if test="ticketTime2 !=null and ticketTime2!='' ">and  DATE_FORMAT(f_starttime,'%yyyy-%MM-%dd') &lt;=  DATE_FORMAT(#{ticketTime2},'%yyyy-%MM-%dd')   </if> 
		</where>
		
	</select>
			



</mapper>