<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tarena.ht.mapper.SellMapper">
	
	<select id="findAll" resultMap="statementList">
		
		select * from 
		(select * from
		(select p.p_id id,p_id,p.p_name,p.p_sex,p_type,p_identily,p.p_phone,p.p_f_id,p.p_order_id from passenger p)p
			left join
			flight_p  f
			on p.p_f_id=f.f_id)pf
		left join 
		order_p o
		on pf.p_order_id=o.o_id
		
	</select>

	<resultMap type="Statement" id="statementList" >
		<id column="id" property="id"/>
		
		<association property="order" javaType="Order" autoMapping="true">
			<id column="o_id" property="oId"/>
		</association>
		<association property="passenger" javaType="Passenger" autoMapping="true">
			<id column="p_id" property="pId"/>
		</association>
		<association property="flight" javaType="Flight" autoMapping="true">
			<id column="f_id"  property="fId" />
		</association>
	</resultMap>

	<select id="findByRules" resultMap="statementList">
		
		SELECT * FROM 
		(SELECT * FROM
		(SELECT p.p_id id,p_id,p.p_name,p.p_sex,p_type,p_identily,p.p_phone,p.p_f_id,p.p_order_id FROM passenger p)p
			LEFT JOIN
			flight_p  f
			ON p.p_f_id=f.f_id)pf
		LEFT JOIN 
		order_p o
		ON pf.p_order_id=o.o_id
		<where>
			<if test="location !=null">pf.f_location=#{location}</if>
			and
			<if test="f_departure !=null">pf.f_departure=#{departure}</if>
			and 
			<if test="location !=null">pf.p_name=#{passengerName}</if>
			and
			<if test="location !=null">pf.p_id=#{PNR}</if>
			and
			<if test="location !=null">pf.f_company=#{Airlines}</if>
			and
			<if test="location !=null">o.o_state=#{ticketState}</if>
			and
			<if test="location !=null">pf.f_location=#{location}</if>
			pf.f_start_date BETWEEN #{ticketTime1,jdbcType=java.sql.Date} and #{ticketTime2,jdbcType=java.sql.Date}
			<if test="location !=null">pf.f_location=#{location}</if>
		</where>
		
	</select>
			



</mapper>