<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tarena.ht.mapper.UserMapper">
	
	<resultMap type="User" id="UserFormat" autoMapping="true">
	<!-- 	<id column="" property=""/>
		
		<association property="" javaType="">
			<id/>
			<result/>
		</association>
		
		<result column="" property=""/> -->
	
	</resultMap>
	
	
	<select id="findOne" resultMap="UserFormat">
	
	</select>
	
	<update id="update"  >
	
	</update>


</mapper>